html {
    display: -webkit-flex;
    display: flex;
}

body {
    background-color: floralwhite ;
}

.container {
    display: flex;
    flex: 2;
    text-align-all: center;
    height: 100%;
}


.sidebar {
    display: flex;
    height: inherit;
    width: 30%;
    background-color: #50394c;
    text-align: center;
    color: white;

}


#nav-list {
    width: inherit;
    text-align: left;
    color: white;
}


.main {
    width:inherit;
    text-align: justify;
    color: black;
    height: inherit;

}

