{% extends 'base.html' %}
{%  load staticfiles %}

{% block title %} Add to Personal Cellar {% endblock %}

{% block content %}
    <b><h1> Personal E-Cellar </h1></b>
    <div id="cellar_form">
        <form methods="post" enctype="multipart/form-data">
            {% csrf_token %}
            Wine: <br>
            <input type="text" name="wine_name"><br>
            Winery: <br>
            <input type="text" name="winery_name"><br>
            Barcode:<br>
            <input type="text" name="barcode"><br>
            <br>
            {% comment %}Price per bottle:
            <input type="number" name="price">
            Quantity:
            <input type ="number" name="quantity">
            <br>{% endcomment %}
            <button type="button" id="sendCellarData">Click to Add</button>
        </form>

    </div>

{% endblock %}
{% block script %}<script>
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $("#sendCellarData").click(function(){
        var mydata = new Object();
        mydata.wine_name = $("[name=wine_name]").val();
        mydata.winery_name = $("[name=winery_name]").val();
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
        $.ajax({
            type: "POST",
            url: "/api/cellar/",
            contentType: "application/json;",
            data: JSON.stringify(mydata),
            dataType: "json",
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }},
        }).error(function(r){ console.log(r) })
            .success(function(r){ console.log("success", r) })

    });
</script>
{% endblock %}
