{% extends 'base.html' %}
{%  load staticfiles %}

{% block title %} Add / Modify Personal Cellar {% endblock %}

{% block content %}
    <b><h3> Personal E-Cellar </h3></b>
    <div id="cellar_modify">
        <p> Add to {{user.get_username}}'s Cellar</p>
        <select name="Wines" value="{{wines}}">
            {% for entry in wines  %}
            <option value="{{entry.wine_name}}">{{entry.wine_name}}</option>
            {% endfor %}
        </select>
        <select name = "Wineries" value="{{wines}}">
            {% for entry in wines %}
            <option value="{{ entry.winery_name }}">{{ entry.winery_name }}</option>
            {% endfor %}
        </select>
        {% csrf_token %}
        <button id="sendCellarData">Update</button> <br>

        <a href="{% url 'add_wine'%}">Add New Wine</a>
    </div>
        <div name="message"></div>



    </div>
{% endblock %}

{% block script %}
    <script>
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $("#sendCellarData").click(function() {
        var data = {};
        data.wine_name = $("[name=wine_name]").val();
        data.winery_name = $("[name=winery_name]").val();
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
        $.ajax({
            type: "POST",
            url: "/api/cellar/",
            contentType: "application/json;",
            data: JSON.stringify(data),
            dataType: "json",
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            },
            success: function (data) {
                if (data) {
                    var message = "Cellar has been updated";
                    $("[name=message]").text(message);
                }
                else {
                }
            },
            error: function (data) {
                if (data) {
                    var message = "Error! " + data.error();
                    $("[name=message]").text(message);
                }
            }
        });
    });
    </script>
{% endblock %}
