{% load static %}

<nav class="sidebar" >
       <div id="nav-list" name="Navigation">
           <ul><a href="{% url 'render_cellar' %}">View Cellar</a></ul>
           <ul><a href="{% url 'render_profile'%}">View Profile</a></ul>
           <ul><a href="{% url 'add_update_user_cellar' %}">Modify Cellar</a></ul>
           <ul><a href="{% url 'view_winery' %}"> View All Wineries</a></ul>
           <ul><a href="{% url 'view_wines' %}">View All Wines</a></ul>
           <ul><a href="logout">Log Out</a></ul>
       </div>
</nav>
