{% extends 'base.html' %}
{%  load staticfiles %}

{% block title %} Add Winery {% endblock %}

{% block content %}
    <h1> Please enter winery's details</h1>
    <div id="winery_form">
        <form methods="post" enctype="multipart/form-data">
            {% csrf_token %}
            Winery: <br>
            <input type="text" name="winery_name"><br>
            Phone: <br>
            <input type="text" name="winery_phn"><br>
            Address:<br>
            <input type="text" name="winery_addr"><br>
            <br>
            <button type="button" id="sendWineryData">Click to Add</button>
        </form>

    </div>

{% endblock %}
{% block script %}<script>
    function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $("#sendWineryData").click(function(){
    var mydata = new Object();
    mydata.winery_name = $("[name=winery_name]").val();
    mydata.winery_addr = $("[name=winery_addr]").val();
    mydata.winery_phn = $("[name=winery_phn]").val();
    var csrftoken = $("[name=csrfmiddlewaretoken]").val();
    $.ajax({
    type: "POST",
    url: "/api/winery/",
    contentType: "application/json;",
    data: JSON.stringify(mydata),
    dataType: "json",
    beforeSend: function(xhr, settings) {
    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
    xhr.setRequestHeader("X-CSRFToken", csrftoken);
    }},
    }).error(function(r){ console.log(r) })
    .success(function(r){ console.log("success", r) })
    });</script> {% endblock %}
